pkgbase = handoffgg
	pkgdesc = Automatic audio device switching and ChatMix for SteelSeries wireless headsets (PipeWire)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/ttmx/HandoffGG
	install = handoffgg.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	makedepends = clang
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = pipewire
	depends = hidapi
	source = git+https://github.com/ttmx/HandoffGG.git#tag=v0.2.0
	sha256sums = SKIP

pkgname = handoffgg
